
.radio-container{
    display: flex;
    flex-direction: row;
}

.question{
    font-size: 22pt;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.input-field{
    flex-basis: 48px;
    justify-content: space-between;
    width: 20%;
    border: none;
    background-color: rgba(211,211,211,0.6);
    border-radius: 8px;
    padding: 10px;
}