h2{
    color: var(--orange);
}

.nav-container {
    flex-wrap: wrap;
    flex: 1 0;
    background-color: #fff;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--orange) solid 2px;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.nav-container a{
    text-decoration: none;
}