h2{
    color: var(--orange);
}

.nav-container {
    background-color: #fff;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--orange) solid 2px;
    margin-bottom: 5%;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.logo-container-img {
    width: 80px;
    margin-right: 8px;
}

.nav-container a{
    text-decoration: none;
}