
.article-container{
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 10px gray;
    margin-bottom: 100px;
    border-radius: 8px;
    width: 1000px;
    background-color: white;
}

.article-container p{
    color: var(--black);
}

.article-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}

.ingredient-content{
    display: flex;
    flex-direction:column;
    width: 200px;
    background-color: lightgray;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px ;
    margin: 20px;
}

.person-counter-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}

.person-counter-container > p{
    font-size: 16pt;
    margin-right: 5px;
}

.img{
    width: 600px;
    height: 400px;
    border-radius: 0 8px 8px 0;

}

.add-minus-icon{
    width: 24px;
    height: 24px;
}

.round-button{
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}

.list-container{
    list-style: decimal inside;
    font-size: 16pt;
}

.ingredient-list-container{
    list-style: square;
    font-size: 16pt;
}

.food-prepare-container{
    width: 800px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.clock-img{
    width: 24px;
    height: 24px;
}