.footer-section{
    border-top: var(--orange) solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0;
}

.footer-h2{
    margin-bottom: 16px;
}

.footer-p{
    font-size: 14px;
    color: var(--orange);
}

.footer-img{
    width: 80px;
}